* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.videoBlock {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  &:hover {
    .videoController {
      opacity: 1;
    }
  }
}

.videoBlock video {
  max-width: 100%;
}

.videoController {
  opacity: 0;
  transition: opacity 0.3s linear;
  padding: 0.5em 2em;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 15px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.volumeButton {
  cursor: pointer;
  color: white;
}

.currentTime,
.totalTime,
.slash {
  color: white;
}

.playButton {
  cursor: pointer;
  color: white;
}
