body {
  font-family: sans-serif;
}

.videoBlock {
  position: relative;
}

.videoBlock video {
}

.videoController {
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3em;
  position: absolute;
  bottom: 10px;
}

.volumeButton {
  cursor: pointer;
}

.playButton {
  cursor: pointer;
}
